<% @profile.errors.full_messages.each do |error| %> 
  <p><%= error %> </p> 
<% end %>

  <p> Edit <%= @profile.nickname %> Profile </p>
  <%= form_for @profile do |f| %> 

      <%= f.hidden_field :user_id, value: params[:id]%>

      <div>
        <%= f.label :bio, 'Your Bio:'%>
        <%= f.text_area :bio, class: 'form-control mb-2', rows: '4'%>
      </div>

        <br>

      <div>
        <%= f.label :avatar, 'Your Profile Picture' %>
        <%= f.file_field :avatar %>
      </div>

        <br>

      <div>
        <%= f.submit class: 'btn btn-primary col-4'%>
        <%= link_to 'Go Back', :back, class: 'btn btn-secondary col-4' %>
      </div>
  <% end %>
