<!-- Error Messages -->
<% @profile.errors.full_messages.each do |error| %> 
  <p><%= error %> </p> 
<% end %> 

<!-- Form -->
<div class='form-group align-item-center container border' >
  <%= form_for @profile do |f| %>
    <div class='row'>  
      <p class='col-4'></p>
      <div class='col-4 text-center' >
        <%= f.label :nickname, 'Nickname:' %>
        <%= f.text_field :nickname, class: 'form-control mb-2', placeholder: 'Your Nickname'%>
      </div>
    </div>
    <br> 
      
    <div class='row'>
      <p class='col-4'></p> 
      <div class='col-4' align='center'>
        <%= f.label :bio, 'You Bio'%>
        <%= f.text_area :bio, class: 'form-control mb-2', rows: '4'%>
      </div> 
    </div>

    <br>

    <div class='row'>
      <p class='col-4'></p> 
      <div class='col-4' align='center'>
        <%= f.label :avatar, 'Your Profile Picture' %>
        <%= f.file_field :avatar %>
      </div>
    </div>

    <br>

    <div class='row'>
      <p class='col-4'></p> 
      <div class='col-4' align='center'> 
        <%= f.hidden_field :user_id, value: params[:id]%>
        <%= f.submit class: 'btn btn-primary col-4'%>
        <%= link_to 'Go Back', :back, class: 'btn btn-secondary col-4' %>
      </div>
    </div>

  <% end %>
</div>
