<div class='container border'>
  
  <div class='row'>
    <% if @profile == current_user.profile %>
      <h1 class='col', align='center'> Welcome, <%= @profile.nickname %>!</h1> 
    <% else %>
      <h1 class='col', align='center'> Welcome to <%= @profile.nickname %>'s Profile!</h1> 
    <% end %>
  </div>
  <div class='row'> 
    <p class='col-5'></p>
    <small class='col-4'> This Profile is <%= @profile.share ? 'Public' : 'Private' %></small>
  </div>

  <br> 

  <br>

  <div class='row'> 
    <p class='col-2'><strong>Profile Picture</strong>:</p> 
    <% if @profile.avatar.attached? %>
      <%= image_tag(@profile.avatar, class:'img-fluid col-2 border') %> 
    <% else %>
      <p class='col-4'>Empty</p>
    <% end %>

    <p class='col-4 text-center text-wrap text-break'  align='center' style='white-space' >
      <strong>Bio</strong>:
      <br>
      <%= @profile.bio %>
    </p>
  </div>

  <br> 

  <div class='row'>
    <p class='col-4'></p>
      <% if current_user == @profile.user %>
        <%= form_for(@profile, url: change_privacy_profile_path, method: :post, class: 'form-inline') do |f| %> 
        <div class='form-group'>
          <strong class='text-center'><%= f.label :share, 'Change Privacy:' %></strong>
          <%= f.select(:share, [['Private', false], ['Public', true]]) %> 
          <%= f.hidden_field :profile_id, value: params[:id] %> 
          <%= f.submit 'Change Setting' %>
        </div>
        <% end %>
      <% end %>
  </div>

  <br>

    <div class='row'>
      <p class='col-4'></p>
      <% if current_user == @profile.user %> 
        <%= link_to 'Edit Info', edit_profile_path(@profile), class: 'text-white btn btn-primary col-2'%>
      <% end %>
      <%= link_to 'Go Back', :back, class: 'btn btn-secondary col-2' %>
    </div>
    <br>
    <br>
    <br> 
</div>


