<h1 class='p-2'>List of tasks</h1>

<table class='table'>
  <thead>
    <tr>
      <th class='p-1'>Title</th>
      <th class='p-1'>Description</th>
      <th class='p-1'>Status</th>
      <th class='p-1'>Priority</th>
      <th class='p-1'>View</th>
      <th class='p-1'>Edit</th>
      <th class='p-1'>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %> 
      <tr>
        <td class='p-1'><%= task.title %></td>
        <td class='p-1'><%= task.description %></td>
        <td class='p-1'><%= task.status %></td>
        <td class='p-1'><%= task.priority %></td>
        <td class='p-1'><%= link_to 'View Task', task_path(task) =%></td>
        <td class='p-1'><%= link_to 'Edit Task', edit_task_path(task) =%></td>
        <td class='p-1'>
          <%= link_to 'Delete Task', task_path(task), data: {
                    method: :delete,
                    confirm: 'Are you sure?'
                  }%>
        </td>
      </tr>
    <% end%>
  </tbody>
</table>

<%= link_to 'Create task', new_task_url, class: 'btn btn-primary ml-1' %>
