<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head> 
  <body>
    <%= render partial: 'partials/navbar' %>
    <div class=''>
      <p class="alert text-center text-danger"><%= alert %></p> 
    </div>
    <div class=''>
      <p class="notice text-center bd-callout bd-callout-info text-success"><%= notice %></p> 
    </div>
    <%= yield %>
  </body>
</html>
